.cart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 30px;
}
.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}
.back {
  background-color: rgb(58, 143, 223);
  color: white;
  padding: 10px;
  border-radius: 10px;
}
.cart-products {
  width: 40%;
  height: 60%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  overflow-y: scroll;
  justify-content: center;
}
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
