.reset-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.reset-form {
  width: 30%;
  height: 30%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
}

.btns button {
  margin: auto;
  background-color: rgb(7, 92, 202);
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  font-size: larger;
  padding: 5px 0;
  font-family: Arial, Helvetica, sans-serif;
  width: 40%;
  margin: 10px 10px;
  margin-bottom: 30px;
  margin-left: 28px;
}
